<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738669475071-l8rhhsuqb67i181k1lj38i6b6j43cjbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738669475071-l8rhhsuqb67i181k1lj38i6b6j43cjbd</string>
	<key>API_KEY</key>
	<string>AIzaSyDKsODDmzLDNj04mHHhJOyW4UlrwjZ0yoc</string>
	<key>GCM_SENDER_ID</key>
	<string>738669475071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krissdrawing.secondbrain</string>
	<key>PROJECT_ID</key>
	<string>secondbrain-97721</string>
	<key>STORAGE_BUCKET</key>
	<string>secondbrain-97721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738669475071:ios:fcc1d6fdc72bd918e7c8ca</string>
</dict>
</plist>